.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 380px;
    left: 50px;
  }
  
  .baloon {
      position: absolute;
      left: 300px;
      z-index: 3;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    top: 120px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 590px;
    top: 220px;
  }